{% extends "account/base.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/about.css' %}">
{% endblock %}

{% block content %}


<header>
    <img src="{% static 'image/abtus.png' %}" class="custom-img" alt="...">
</header>
<div class="container main">

    <div class="row">
        <div class="col-md-12">
            <p class="h5 text-muted">
                We fulfill your all needs from learning a particular subject to getting you placed by just a click away.
                We provide courses with practice questions on various subjects and information regarding jobs and internship opportunities.
                Here you can ask for any doubt through live chatting and our on telegram group.
                We run our Youtube channel as Vamm Academy on which we upload videos with daily updates on many Job & Internship opportunities.
                We started the Vammr Academy for our college project with our friends and now it is emerging in the market as a growing organization well known for providing information on Job & Internship opportunities and a learning platform.

            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="heading">
                <h1>PEOPLE BEHIND</h1>
            </div>
            <div class="image-main-wapper">
                <div class="image-wrapper">
                    <img src="{% static 'image/vis.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
    
                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>
    
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="{% static 'image/mani.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
    
                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>
    
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="{% static 'image/ravi.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
    
                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>
    
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="{% static 'image/akku.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
    
                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>
    
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="{% static 'image/mukund.jpg'  %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
    
                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}