{% extends "account/base.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block content %}


<div class="container main">

    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'image/contactus.png' %}" class="image-one-clik" alt="">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4  p-2">
            <div class="login">
                <h2 class="fw-bold mb-4">Get in touch</h2>
                <form class="" method="" action="">
                    <div class="mb-3">
                        <input type="text" class="form-control  form-control rounded" id="formGroupExampleInput2"
                            placeholder="Full Name">
                    </div>

                    <div class="mb-3">
                        <input type="email" class="form-control  form-control rounded" id="formGroupExampleInput2"
                            placeholder="Email Id">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary btn" type="submit">Submit</button>
                    </div>


                </form>



            </div>
          
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>



</div>


{% endblock %}