{% extends "account/base.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block content %}




<div class="container main">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="heading">
                <p class="cust-p font-monospace">ITS FREE</p>
            </div>


            <div class="cust-h1">
                <p>
                    Your
                </p>
                <p>
                    Non-Stop
                </p>
                <p>
                    Learning starts
                </p>
                <p>
                    here.
                </p>
            </div>

            <a class="btn  cst-primary btn-lg mt-2" href="{% url 'courses'  %}">GET STARTED</a>
        </div>
        <div class="col-md-6 col-lg-6 text-center">
            <img src="{% static 'image/hero.png' %}" class="cst-image" alt="...">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="heading">
                <h1> FEATURES </h1>
            </div>
            <!-- <p class="cst-feat">FEATURES</p> -->
        </div>
    </div>
    <div class="row  cst-row-img">
        <div class="col-md-3">
            <img src="{% static 'image/one.png' %}" class="img-fluid-cst one" alt="">
            <p>
                Ask Queries
            </p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'image/two.png' %}" class="img-fluid-cst two" alt="">
            <p>
                Solve Questions
            </p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'image/three.png' %}" class="img-fluid-cst three" alt="">
            <p>
                Video Lectures
            </p>
        </div>
        <div class="col-md-3 pb-2">
            <img src="{% static 'image/four.png' %}" class="img-fluid-cst four" alt="">
            <p>
                Subject wise Notes
            </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-3"></div>
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row bluearea">
        <div class="col-md-3">
            <img src="{% static 'image/DOT-ELEMENT.png' %}" class="cstdot1" alt="">
            <img src=" {% static 'image/blue-element (2).png' %}" class="blue-element-one" alt="">
        </div>
        <div class="col-md-6">
            <div class="cust-h1-pa">
                <p>
                    A Complete Guide to
                </p>
                <p>
                    Programming
                </p>

                <a class="btn  cst-white btn-lg mt-2" href="{% url 'courses'  %}">Unlock the Experience</a>
            </div>

        </div>
        <div class="col-md-3">
            <img src="{% static 'image/blue-element (1).png' %}" class="blue-element-one" alt="">
            <img src="{% static 'image/DOT-ELEMENT.png' %}" class="cstdot" alt="">
        </div>
    </div>

</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="heading">
                <h1>DAILY UPDATES</h1>
            </div>
            <div class="row p-3 mt-2">

                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        {% for iteam in courses %}
                        <div class="swiper-slide mb-2">
                           
                           
                                <div class="card border-0">
                                    <!-- <img src="https://source.unsplash.com/200x100/?nature,student" class="card-img-top"
                                        alt="..."> -->
                                        
                                        {{iteam.link|safe}}
                                    
                                    <div class="card-body">
                                        <h5 class="card-title h4">{{iteam.title}}
                                        </h5>
                                        <p class="cst-color-blue fw-bold">{{iteam.date|date:"M d,Y"}}</p>
                                        <p class="card-text">{{iteam.course_details}}</p>
                                       
                                        {% if iteam.notes %}
                                    
                                        <a type="button" class="btn btn-outline-dark rounded-0" href="{{iteam.notes.url}}" target="_blank">Download Notes</a>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            
                            
                        </div>
                        {% endfor %}
                        {% for iteam in job %}
                        <div class="swiper-slide mb-3">



                            <div class="card border-0">

                                {{iteam.link|safe}}
                                <div class="card-body">
                                    <h5 class="card-title h4">{{iteam.title}}</h5>
                                    <p class="cst-color-blue fw-bold">{{iteam.date|date:"M d,Y"}}
                                    </p>
                                    <p class="card-text">{{iteam.job_details}}</p>
                                    {% if iteam.job_link %}
                                    <a type="button" class="btn btn-outline-dark rounded-0" href="{{iteam.job_link}}"
                                        target="_blank">Apply Now</a>
                                    {% endif %}
                                </div>
                            </div>


                        </div>
                        {% endfor %}

                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                    <div class="swiper-pagination"></div>
                </div>






            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="heading">
                <h1>TESTIMONIALS</h1>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 p-2 text-center"><img src="{% static 'image/testimonial.png' %}"
                        class="img-fluid testimonial-img" alt="..."></div>
                <div class="col-md-6 ">
                    <div id="owl-demo" class="owl-carousel owl-theme">

                        <div class="item mt-5 text-center pt-3">
                            <p> I'm Pooja Gramopadhye i'm final year BTech student. I have following your YouTube
                                channel since long, and it has helped in number of ways.</p>
                            <p class="h5 text-center pt-3">
                                Pooja Gramopadhye
                            </p>

                            <p class="text-muted">
                                BTech student
                            </p>
                        </div>
                        <!-- <div class="item mt-5 text-center pt-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptas, ipsum
                                reiciendis, quo maiores hic rerum in accusamus maxime porro nesciunt tempore sed
                                suscipit sapiente, aliquid doloribus. Inventore, esse rerum?</p>
                            <p class="h5 text-center pt-3">
                                unknown
                            </p>

                            <p class="text-muted">
                                bot
                            </p>
                        </div>
                        <div class="item mt-5 text-center pt-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque commodi expedita,
                                tempore voluptas reiciendis quasi laboriosam quae veritatis accusamus provident nisi
                                incidunt placeat. Labore maiores amet sapiente! Hic, consequuntur esse.</p>
                            <p class="h5 text-center">
                                unknown
                            </p>

                            <p class="text-muted">
                                bot
                            </p>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-md-12">
            <div class="heading">
                <h1>PEOPLE BEHIND</h1>
            </div>
        </div>

    </div>
    <div>
        <div class="image-main-wapper  mb-3">
            <div class="image">
                <div class="image-wrapper">
                    <img src="{% static 'image/vis.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="https://www.instagram.com/v_i_e_s_s_e/" target="_black"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>

                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>

                    </div>
                </div>
                <div class="image-content ml-4  fs-6">
                    <p class="h5 fw-bold m-0">Vishal Bhardwaj</p>
                    <p class="text-muted  m-0">(Co-founder)</p>
                    <p class="text-muted m-0 ">Web Developer</p>
                </div>
            </div>
            <div class="image">
                <div class="image-wrapper">

                    <img src="{% static 'image/mani.jpg' %}" class="vis" alt="">


                    <div class="image-caption">
                        <p> <a href="https://www.instagram.com/mani_chauhan98/" target="_black"><i
                                    class="bi bi-instagram" style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>

                            <a href="https://www.linkedin.com/in/manish-chauhan-a89aa0152" target="_black"><i
                                    class="bi bi-linkedin" style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="https://twitter.com/ManishC24938719?s=08" target="_black"><i class="bi bi-twitter"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>

                    </div>
                </div>
                <div class="image-content ml-4  fs-6">
                    <p class="h5 fw-bold m-0">Manish Chauhan</p>
                    <p class="text-muted  m-0">(Co-founder)</p>
                    <p class="text-muted m-0 ">Video Developer</p>
                </div>


            </div>

            <div class="image">
                <div class="image-wrapper">
                    <img src="{% static 'image/ravi.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="https://www.instagram.com/guptaravi540/" target="_black"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>

                            <a href="https://www.linkedin.com/in/guptaravi540" target="_black"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="https://twitter.com/guptaravi540" target="_black"><i class="bi bi-twitter"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>

                    </div>
                </div>
                <div class="image-content ml-4  fs-6">
                    <p class="h5 fw-bold m-0">Ravi Kumar Gupta</p>
                    <p class="text-muted  m-0">(Co-founder)</p>
                    <p class="text-muted m-0 ">E-learning Developer</p>
                </div>
            </div>
            <div class="image">
                <div class="image-wrapper">
                    <img src="{% static 'image/akku.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>

                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>

                    </div>
                </div>
                <div class="image-content ml-4  fs-6">
                    <p class="h5 fw-bold m-0">Akanksha Semwal</p>
                    <p class="text-muted  m-0">(Co-founder)</p>
                    <p class="text-muted m-0 ">Content Developer</p>
                </div>
            </div>
            <div class="image">
                <div class="image-wrapper">
                    <img src="{% static 'image/mukund.jpg' %}" class="vis" alt="">
                    <div class="image-caption">
                        <p> <a href="#"><i class="bi bi-instagram"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>

                            <a href="#"><i class="bi bi-linkedin"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                            <a href="#"><i class="bi bi-youtube"
                                    style="font-size: 1.5rem; color: rgb(33, 34, 36);"></i></a>
                        </p>

                    </div>
                </div>
                <div class="image-content ml-4  fs-6">
                    <p class="h5 fw-bold m-0">Mukund Chaudhary</p>
                    <p class="text-muted  m-0">(Media Developer)</p>
                    <p class="text-muted m-0 ">Graphic Designer</p>
                </div>

            </div>
        </div>
    </div>

    {% endblock %}
    {% block javascript %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    {% endblock %}