
{% extends "account/base.html" %}
{% load static %}  

{% block styles %}
<link rel="stylesheet" href="{% static '/css/job.css' %}">
{% endblock %}
{% block content %}



<header>
    <img src="{%static 'image/jobs.png' %}" class="custom-img" alt="...">
</header>
<div class="container main">

   <div class="row">
       <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 g-3 mt-5 mb-3">
        {% for iteam in jobs %}
            <div class="col">
                <div class="card border-0">

                    {{iteam.link|safe}}
                    <div class="card-body">
                        <h5 class="card-title h4">{{iteam.title}}</h5>
                        <p class="cst-color-blue fw-bold">{{iteam.date|date:"M d,Y"}}
                        </p>
                        <p class="card-text">{{iteam.job_details}}</p>
                        {% if iteam.job_link %}
                        <a type="button" class="btn btn-outline-dark rounded-0" href="{{iteam.job_link}}" target="_blank">Apply Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        
          

        </div>
       </div>
   </div>
 
</div>
   
{% endblock %}